html,
body {
    margin: 0px;
    padding: 0px;
    background-image: linear-gradient(brown, blue);
}

main {
    padding: 16px;
    color: black;
}

footer {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    padding-right: 0px;
}

img {
    height: 200px;
}

nav {
    color: black;
    border-bottom: 1px;
    padding: 16px;
}
